@{

    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

}

<div class="store-sidebar">
    <h2>Admin</h2>
    <ul class="sidebar-menu">
        <li>
            <a asp-controller="Home" asp-action="AdminDashboard">

                🏠 Dashboard
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Users">

                🏠 Users
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="OrderStatus">

                🛒 OrderStatus
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="OrdersDashboard">
               

                🛒 Orders
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="AdminInventory">
      

                🛒 Inventory
            </a>
        </li>
        <li>
        <li>
            <a asp-controller="Home" asp-action="Logout"
               class="logout-link"
               onclick="return confirm('Do you want to logout?');">
                🚪 Log Out
            </a>

        </li>

    </ul>


</div>


